/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform: translateX(-120%)
  transition 0.25s
  max-height 0
  padding: 0 !important
  &.order-enter-active
    transform translateX(0)
    max-height 60px
    padding 2rem 0 !important

.order-exit
  transition 0.25s
  transform translateX(0)
  &.order-exit-active
    transform translateX(120%)
    padding 0

.count-enter
  transition 0.25s
  transform translateY(100%)
  &.count-enter-active
    transform translateY(0)

.count-exit
  transform translateY(0)
  transition 0.25s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    transform translateY(-100%)